* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
}

.carousel-cell {
  width: 100%;
  background: #8C8;
  border-radius: 5px;
  counter-increment: carousel-cell;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  content: counter(carousel-cell);
  font-size: 30px;
  color: white;
}

/* big previous & next buttons */
.flickity-prev-next-button {
	width: 50px;
	height: 50px;
  }